body{
	background-color:#F4ABAA;
}
h1{
	text-align:center;
	font-family:Proza Libre;
	font-size:50px;
	color:white;
	text-transform:uppercase;
	word-spacing:30px;
	text-shadow:2px 2px 3px #e7d8e8;
}
h2{
	text-align:center;
	font-family:Proza Libre;
	font-size:32px;
	background-color:#E12B38;
	color:white;
	text-transform:uppercase;
	text-shadow:2px 2px 3px #e7d8e8;
}
p{
	text-align:justify;
	font-family:Open Sans;
	font-size:16px;
	text-indent:70px;
	line-height:30px;
	word-spacing:7px;
	color:#2a3166;
}
h4{
	text-align:center; 
	font-family:Montserrat; 
	color:#2a3166;
}